<footer class="site-footer">
  <div class="footer-wrapper">

    <section class="about">
      <h2>I love web</h2>
      <p>
        Welcome to I Love Web a personal space where I collect
        everything I learn, build, and experiment with on the web.
        Here you’ll find my learning notes, creative experiments,
        and projects that reflect my growth as a designer and developer.
        It’s a mix of curiosity, exploration, and a deep love for the web.
      </p>
    </section>

    <section class="col desktop-only">
      <h2>Menu</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/journal">Journal</a></li>
        <li><a href="/playground">Playground</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </section>

    <section class="col desktop-only">
      <h2>Socials</h2>
      <ul>
        <li><a href="https://github.com/Nayomekaia" target="_blank" rel="noopener">Github</a></li>
        <li><a href="https://www.linkedin.com/in/nayome-doelwijt-2370172a5/" target="_blank" rel="noopener">Linkedin</a></li>
      </ul>
    </section>

    <section class="mobile-only">
      <details>
        <summary><h2>Menu</h2></summary>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/journal">Journal</a></li>
          <li><a href="/playground">Playground</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </details>

      <details>
        <summary><h2>Socials</h2></summary>
        <ul>
          <li><a href="https://github.com/Nayomekaia" target="_blank" rel="noopener">Github</a></li>
          <li><a href="https://www.linkedin.com/in/nayome-doelwijt-2370172a5/" target="_blank" rel="noopener">Linkedin</a></li>
        </ul>
      </details>
    </section>
  </div>
</footer>

</body>
</html>