<footer>
    <section class="iloveweb">
        <h3>I love web</h3>
        <p>Welcome to I Love Web a personal space where I collect 
            everything I learn, build, and experiment with on the web.
            Here you’ll find my learning notes, creative experiments, 
            and projects that reflect my growth as a designer and developer.
            It’s a mix of curiosity, exploration, and a deep love for the web.
        </p>
   </section>

   <section>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/journal'>Journal</a></li>
        <li><a href='/playground'>Playground</a></li>
        <li><a href='/projects'>Projects</a></li>
    </ul>
   </>

   <section class="socials">
    <ul>
        <li><a href='https://github.com/Nayomekaia'>Github</a></li>
        <li><a href='https://www.linkedin.com/in/nayome-doelwijt-2370172a5/'>Linkedin</a></li>
    </ul>
   </section>
</footer>
</body>
</html>