<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>i love web</title> 
    <link href="https://fonts.googleapis.com/css2?family=Sarina&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <header>
    <nav>
      <ul>
        <li><a href="/journal">Journal</a></li>
        <li><a href="/playground">Playground</a></li> 
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
  </header>
  <body>
 