* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'pixel-font';
    src: url('./PixelFont-Regular.otf') format('opentype');
}

body {
    font-family:'pixel-font', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c5a990;
    color: #653f1b;
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}


.fade-in {
    font-size: 6rem;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}


h2 {
    font-size: 3rem;
    margin-top: 10px;
    color: #795835;
}

.heart {
    display: inline-block;
    color: #ff0000;
    transition: transform 0.7s;
    cursor: pointer;
}

.heart:hover {
    transform: rotate(360deg);
}

.sprint-container {
    display: grid;
    gap: 50px;
    margin-top: 40px;
}


.folder {
    background-color: #65401b42;
    padding: 20px;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 73%);
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s;
}

.folder:hover {
    background-color: #ffe7c1;
}

/
.notes {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-top: 30px;
}


.hidden {
    display: none;
}


.note {
    width: 500px; 
    height: 600px; 
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.note-front, .note-back {
    position: absolute;
    width: 105%;
    height: ;
    gap: 
    display: flex;
    flex-direction: column; 
    padding: 20px; 
    border-radius: 8px;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px rgb(0 0 0 / 75%);
    overflow: hidden; 
}

.note-front {
    background: #c7a990;
    border: 2px dashed #65401b;
}

.note-back {
    transform: rotateY(180deg);
    background-color: #ead4bf;
    border: 2px solid #65401b;
}


.note.flipped {
    transform: rotateY(180deg);
}


@media (min-width: 768px) {
    .sprint-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .note {
        width: 400px; 
        height: 500px;
    }
}
