:root {

    /* =============== TYPOGRAPHY =============== */
    
    /* Font-family*/
    --font-body: 'sarina', sans-serif;
    --font-heading: 'sarina', sans-serif;
    --font-accent: 'Architects Daughter', sans-serif;
    
    /* Font-weight*/
    --font-weight: 400;

    /* Headings*/
      --h1-size: 40px;   
      --h1-line-height: 1.2;
      --h1-max-width: 60ch;
    
      --h2-size: 35px;     
      --h2-line-height: 1.3;
      --h2-max-width: 65ch;
    
      --h3-size: 30px;
      --h3-line-height: 1.3;
      --h3-max-width: 65ch;
    
      --h4-size: 26px;  
      --h4-line-height: 1.4;
      --h4-max-width: 70ch;
    
      --h5-size: 20px;  
      --h5-line-height: 1.4;
      --h5-max-width: 70ch;
    
      /* Paragraphs */
      --p-l-size: 19px; 
      --p-l-line-height: 1.6;
      --p-l-max-width: 70ch;
    
      --p-m-size: 18px;   
      --p-m-line-height: 1.7;
      --p-m-max-width: 70ch;
    
      --p-s-size: 17px;   
      --p-s-line-height: 1.8;
      --p-s-max-width: 70ch;
    
      --p-xs-size: 16px;   
      --p-xs-line-height: 1.8;
      --p-xs-max-width: 70ch;
    
      --weight-light: 300;
      --weight-regular: 400;
      --weight-medium: 500;
      --weight-semibold: 600;
    
    /* =============== COLOR =============== */
    
    /*PRIMARY COLORS */ 
    --primary-color-black:  #000000;  
    --primary-color-white: #FAFAFA;   

     /*ACCENT LIGHT COLOR */ 
     --accent-green:#E9FFDB;
     --accent-yellow:#FFF6BF;
     --accent-orange:#FFDBA7;
     --accent-red:#FF9E97;
     --accent-pink:#FFE4ED;
     --accent-purple:#EBCFFF;
     --accent-blue: #CBECFF;

    /*ACCENT DARK COLOR */ 

    --accent-green-dark:#324526;
    --accent-yellow-dark:#4A4103;
    --accent-orange-dark:#4F3107;
    --accent-red-dark:#440D09;
    --accent-pink-dark:#5F1C32;
    --accent-purple-dark:#36124F;
    --accent-blue-dark: #004B77;
   
    /* =============== BUTTONS =============== */
    
      /* Blue Button */
      --button-bg: var(--primary-color-black);
      --button-text: var(--primary-color-white);
      --button-border: 1.5px solid var(--primary-color-white);
      --button-radius: 10px;
      --button-padding: 1.2rem 2rem;
      --button-font-size: 16px;
      --button-font-family: var(--font-heading);
    
}
    
    /* =============== GLOBAL STYLES =============== */
    
      /* Focus state */
      *:focus-visible {
        outline: 3px dashed var(--primary-color-white);
        outline-offset: 4px;
      }

    body {
        background: var(--primary-color-black);
        color: var(--primary-color-white);
    }

    /* Headings */
    h1, h2, h3 {
      font-family: var(--font-heading);
      font-weight: var(--heading-font-weight); 
      color: var(--primary-color-white);
    }
    
    h1 {
    font-size: var(--h1-size);
    line-height: var(--h1-line-height);
    max-width: var(--h1-max-width);
    }
    
    h2 {
    font-size: var(--h2-size);
    line-height: var(--h2-line-height);
    max-width: var(--h2-max-width);
    }
    
    h3 {
      font-size: var(--h3-size);
      line-height: var(--h3-line-height);
      max-width: var(--h3-max-width);
    }
    
    h4 {
      font-size: var(--h4-size);
      line-height: var(--h4-line-height);
      max-width: var(--h4-max-width);
    }
    
    h5 {
      font-size: var(--h5-size);
      line-height: var(--h5-line-height);
      max-width: var(--h5-max-width);
    }
    
    /* Paragraphs */
    p {
      font-family: var(--font-body);
      font-weight: var(--text-font-weight);
      font-size: var(--p-m-size);
      line-height: var(--p-m-line-height);
      max-width: var(--p-m-max-width);
    }
    
    a {
        background: var(--button-bg);
        color: var(--button-text);
        border: var(--button-border);
        border-radius: var(--button-radius);
        padding: var(--button-padding);
        font-size: var(--button-font-size);
        font-weight: var(--button-weight);
        text-decoration: none;
        cursor: pointer;
        font-family: var(--button-font-family);
      
        &:hover {
          background-color: var(--primary-color-white);
          color: var(--primary-color-black);
          border: none;
          outline: 1.5px solid var(--primary-color-white);
        }
      }
      

    
    
